body{
    background-color: rgb(99, 110, 128);
    font-family: 'Secular One', sans-serif;
    color: blanchedalmond;
    }

header {
    background-color: rgba(29, 26, 26, 0.959);
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;; 
    flex-direction: column; 
    }

h4{
    margin: 0px;
    font-size:15px;
    }       

    
p{
font-size:15px;
    }

Footer{
    border-style:solid;
    border-color: black;
    border-width: 5px;
    background-color: dimgray; 
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 30px;  
    }

#footerright{
    grid-row-start: 1;
}

#footerright{
    grid-row-start: 2;
}

      .wheatherSumBox{
          background-color: dimgray;
          border-style:solid;
          border-color: black;
          border-width: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          margin-left: 10px;
          height: 100px;
          position: relative;
          bottom: 130px;
      }

      
      #stormicon{
          width: 50px;
          height: 50px;
          display: none;
      }

.fivedayforecast{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;  
    

    
}

.weeklyforecast{
    background-color: rgb(156, 156, 156);
    height: 50px;
    margin-top: 50px;
    margin-left: 20%;
    display:grid;
    width: 50%;
   
    
      }

#article{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
}

#logo{
    height:100px;
    width:178px;
}
#mainTitle{
  font-size: 40px;
}

#cityName{
    font-size: 30px;
}
.SMicons{
    width: 50px;
    height: 50px;
    margin: 20px;
    
}

#radarmap{
    width: 90%;
    height: 30%;
}


#stormclouds{
    height: 50%;
    width: 80%;
    margin-left: 10%;
    
}
 


nav{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
}

   


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(29, 26, 26, 0.959);
    
}
      
      
li a {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      }
li a:hover {
        background-color: rgb(94, 94, 94);
      }



.navigation li{
    display:none;
} 
.responsive li {
    display: block;
}

.navigation li:first-child {
    display: block;
}


.currentpage{
    background-color: rgb(94, 94, 94);
}

main {
    width:90%;
}


form{
    background-color: dimgray;
    width: 90%;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin: 8%;
    box-shadow: 10px 10px 10px 0 black;

}
input{
    padding: .2rem;
    margin: 1.5em;
}

label{
    padding: 1rem;
}

input:invalid{
    background-color: salmon;
}



#title{
    margin-left: 10%;
}

textarea{
    width:60%;
    margin-left: 10%;
    height: 100px;
}

#thankyou{
    font-size: 100%;
    margin:15%;
    margin-bottom: 50%;
}

#rangeLbl{
    margin-left: 20px;
}

#stormnum{
    width: 50%;
}

