
    
      
      .container {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
       
        
        
    }
    .block{
        width: 300px;
        background-color: lightblue;
        border-radius: 25px;
        
  
    }
   
  	header, body, footer{
  		font-family: algerian, courier;
  		
  	}
  	header {
  		border-radius: 25px;
  		padding: 20px;
  		background-color: lightblue;
  		height: 150px;
  		font-size: 20px;
        text-align: center;
        width: 100%;
       
  	}
  

  	footer {
  		background-color: lightblue;
  		text-align: center;
  		border-radius: 25px;
  		padding: 20px;
  		height: 120px;
        text-align: left;
  	}
      .expics{
          margin:20px;
          border-style: solid;
          border-color: rgb(99, 98, 98);
          border-width: 10px;
          border-bottom-width:90px;
          border-top-width:40px;
          

      }

      img{
        height: 400px;
        width: 200px;
      }

  	#maintitle{
  		font-size: 45px;
      }
      
  	h2 {
  		font-size: 25px;
          margin: 15px;
          text-align: center;
  	}
      footer {
          text-align: center;
      }
      p{
        font-family: 'Secular One', sans-serif;
        padding:10px;
      }
