html{
    background-color: rgb(99, 110, 128);
    font-family: 'Secular One', sans-serif;
    color: blanchedalmond;
    }

header {
    background-color: rgba(29, 26, 26, 0.959);
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;; 
    flex-direction: column; 
    }

h4{
    font-size:30px;
    }       

p{
font-size:15px;
    }

Footer{
    border-style:solid;
    border-color: black;
    border-width: 5px;
    background-color: dimgray; 
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 30px;  
    }

#footerright{
    grid-row-start: 1;
}

#footerright{
    grid-row-start: 2;
}

nav{
    visibility: hidden;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
    background-color:  rgba(29, 26, 26, 0.959);
}

   


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(29, 26, 26, 0.959);
    
}
      
li {
    float: left;
    }
      
li a {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(94, 94, 94);
      }

      #wheatherSumBox{
          background-color: dimgray;
          border-style:solid;
          border-color: black;
          border-width: 5px;
          display: flex;
          flex-direction: column;
          
      }

      
      #stormicon{
          width: 100px;
          height: 100px;
      }

#fivedayforecast{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;  
    
        

      }

.weeklyforecast{
    background-color: rgb(156, 156, 156);
    height: 50px;
    width: 50px;
    margin-top: 50px;
    display:grid;
    
      }

#article{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
}



#logo{
    height:100px;
    width:140px;
}
#mainTitle{
  font-size: 40px;
}

#cityName{
    font-size: 30px;
}
.SMicons{
    width: 200px;
    height: 200px;
    margin: 20px;
    
}

#radarmap{
    width: 90%;
    height: 30%;
}

#menuicon{
    visibility: visible;
    height: 50px;
    width: 50px;
    
}

#stormcloud{
    visibility: hidden;
    height:20%;
    width: 90%;
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    
   
}

.galitem{
    width: 300px;
    height: 400px;
    filter: blur(0em);
    transition: filter 2s;
    
   
}

img[data-src] {
    filter: blur(0.2em);
  }

  .galitemp{
    margin-bottom: 10%;
    width: 300px;
  }
  
  .galitem:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  


