
@media only screen and (min-width: 768px){
    h2{
        font-size: 40px;
        padding:0;
    }
    nav{
        visibility:  visible;
    }
    
#menuicon{
    visibility: hidden;
}

h4{
    font-size:30px;
}
p{
font-size:15px;
}

#wheatherSumBox{
    margin: 50px;
   width:400px;
}

#fivedayforecast{
    margin:50px;
}

#article{
    margin: 50px;
}

#radarmap{
    width: 300px;
    height: 200px;
}

footer{
    margin: 50px;
}

#stormcloud{
    height: 500px;
}

}