
html{
    background-color: rgb(99, 110, 128);
    font-family: 'Secular One', sans-serif;
}
header {
    background-color: rgba(29, 26, 26, 0.959);
    padding:20px;
    margin:20px;
    text-align: center;
   margin-bottom: 0px;

}



h1,h2,h3,h4,p {
    color:  blanchedalmond;
}

Footer{
    border-style:solid;
    border-color: black;
    border-width: 5px;
    background-color: dimgray; 
    margin: 20px;
    padding: 20px;
}

    nav{
        margin-top: 0px;
        background-color:  rgba(29, 26, 26, 0.959);
        margin: 20px;


    }

   



    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(29, 26, 26, 0.959);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: blanchedalmond;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(94, 94, 94);
      }

      #wheatherSumBox{
          background-color: dimgray;
          margin-left: 150px;
          margin-right: 150px;
          border-style:solid;
          border-color: black;
          border-width: 5px;
      }

      #fivedayforecast{
        background-color: dimgray;
        margin-left: 150px;
        margin-right: 150px;
        border-style:solid;
        border-color: black;
        border-width: 5px;
        margin-top: 30px;
      }

      #article{
        background-color: dimgray;
        margin-left: 150px;
        margin-right: 150px;
        border-style:solid;
        border-color: black;
        border-width: 5px;
        margin-top: 30px;
      }



#logo{
    display: inline-block;
}
#mainTitle{
  float: top;
}

#cityName{
    font-size: 50px;
}