@media screen and (min-width: 376px){

header{
    flex-direction: row;
}


    h4{
        font-size:30px;
    }

    
   
    .wheatherSumBox{
        background-color: black;
        flex-direction: row;
        width: 70%;
        margin-left: 5%;
        position: relative;
        bottom: 180px;

        
    }
     #todaysstorms{
         margin: 15px;
     }

     .fivedayforecast{
        background-color: black;
        flex-direction:column; 
     }

     .weeklyforecast{
        width: 50%;
       
          }
    

     #article{
        background-color: black;
     }

     footer{
        background-color: black;
     }
     #stormcloud{
        height:50%;
        width: 90%;
        margin-left: 5%;
     }

     .SMicons{
        width: 100px;
        height: 100px;
        margin: 20px;
}

#stormicon{
   visibility: visible;
   }


}