/*general CSS***********************************************************************************************************************************/

html{
    padding: 0%;
    margin:0%;
    background-color: #eafaea;
}

body{
    padding: 0%;
    margin:0%;
}
 

h2{
    margin-top:0%;
}


p{
    margin:0%;
}
/*header CSS ************************************************************************************************************************************/

header{
    background-color: #64945c;
    
    
}



#titleLine {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#logo {
    height: 100px;
    width:80px;
    margin-top: 20px;
    border-radius: 25px;
    position: relative;
    left: 36%;
}

#mainTitle{
    font-family: 'Abril Fatface', cursive;
    margin-left: 40%;
    font-size: 250%;

}

#slogan{
    margin-left: 50%;
    position: relative;
    bottom:50px;
}

#rentcontainer{
    position: relative;
    left: 90%;
    background-color: #FDCEAF;
    border-radius: 25px;
    height: 50px;
    padding: 10spx;
    width:100px;
    text-align: center;
    bottom:130px;
}

#rentcontainer:hover{
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
}

/* navigation css*******************************************************************************************************************************/
.currentpage{
    background-color: #5b7556;
}

nav{
    border-top-style: solid;
    border-top-color:#FDCEAF ;
    background-color: #64945c;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}
      
      
li a {
    display: block;
    color: #FDCEAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      }
li a:hover {
        background-color:white;
      }

   .navigation{
       display:flex;
       justify-content: center;
   }

   .navigation li{
       margin-left:5%
   }
    
    .navigation li:first-child {
        display: none;
    }



/*Home Page CSS****************************************************************************************************************************************/

main{
    background-color: #eafaea;
}

.tagline{
    margin-bottom:50px;
    margin-left:10%;
    font-size: 60px;
    
  
}


#topjeeppic{
    margin-left:10%;
    margin-bottom:10%;
}

.wheatherMod{
    display: flex;
    flex-direction: row;

}

.wheatherBubbles{
    display: flex;
    flex-direction: column;
}
.today{
    background-color:  #64945c;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    padding: 1%;
    box-shadow: 10px 10px 20px grey;
}

  .bubble{
    background-color:  #64945c;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 10px 10px 20px grey;
    
    

}

@media screen and (min-width: 1200px){
#bubble1{
    margin-left: 100%;
}
#bubble2{
    margin-left: 200%;
}
#bubble3{
    margin-left: 300%;
}
}


  #weatherIcon1, #weatherIcon2, #weatherIcon3 {
    height: 50px;
    width: 50px;
}

.bubbleContents div{
    display: block;
   
    width:100%;
    font-size: 18px;
    
} 

.weeklyforecast{
    display: flex;
    flex-direction: column;
    padding:25%;
    width: 140px;
}


.mods{
    display: flex;
    margin-bottom: 200px;
}

.infoBox img{
    height: 200px;
    width: 250px;
    margin-top: 100px;
    margin-left: 50px;
    
}

#jeep{
    height: 400px;
    width:200;
    box-shadow: 10px 10px 20px grey;
    margin-left: 10%;

}

.infoBox{
    margin-left: 100px;
    border: 5px solid black;
    width: 500px;
    background-color: #e0fde0;
}

.infoBox h2 {
    background-color:#64945c ;
    text-align: center;
    font-size: 40px;
    
}



.infoBox li{
    margin-left: 10px;
    margin-top:30px;
    font-size: 30px;
    
}

#ATV{
    height: 200px;
    width:100;
    box-shadow: 10px 10px 20px grey;
    margin-left: 10%;
}

#scooter{
    height: 600px;
    width:400;
    box-shadow: 10px 10px 20px grey;
    margin-left: 10%;
}




#map{
    margin-left:30%;
}

/*footer CSS *************************************************************************************************************************************/

footer{
    background-color: #64945c;
    padding: 30px;
    margin-top:200px;
}

#topsec{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:100%;
}

.footsecs{
    margin-bottom: 30px;
}

#topsec{
    padding: 20px;
}

#botsec{
    margin-left:35%;
}
.SMicons:first-child{
    margin-left: 40%;
}
.SMicons{
    margin-left:5%;
    height: 50px;
    width: 50px;
}


/* Rental CSS**********************************************************************************************************************************/
aside{
    width: 20%;
    border: 2px solid #64945c;
    position: absolute;
  
}

/* general info*******/
aside h2{
    background-color:#64945c ;
}

aside ul{
    margin-left: 5%;
}

aside li{
    margin-top:15px
}


/*vehicles***********/
.vehicleContainer{
    margin-left:25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
}



.vehicle img{
    height: 200px;
    width: 350px;
    box-shadow: 0 8px 6px -6px black;
}

#dio{
    width:250px;
}

#metro{
    width:250px;
}

/*price table*********/

table{
    background-color: rgb(198, 230, 198);
    margin:auto;
    margin-top: 10%;
}



thead{
    background-color:#64945c ;
}

td{
    border-color:grey ;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin: 0%;
}


/*Resevations CSS*******************************************************************************************************************************/

#reserve{
    margin-left:45%;
}

form div{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin:auto;
    margin-bottom: 30px;
    
}


#vehicletype{
    margin-bottom:50px
}

#confirmTxt{
    margin:auto;
    font-size: 2rem;
    margin-left:10%;
}


/* Tours Page CSS*************************************************************************************************************/

.location{
    display: flex;
    flex-direction: row;
    margin-left:5%;
    margin-bottom: 400px;
}

.location img{
    margin-right: 50px;
}

.location p, .location a {
    position: relative;
    right:100px;
    top:65px;

}

.location h2{
    font-size: 2.5rem;
}

.location iframe{
    width: 600px;
    height: 600px;
    position: absolute;
    left:60%;

}

#sangavasioimg{
    height:334px;
    
}

.trails div img{
    width:1000px;
    height: 600px;
}

.trails{
    position: relative;
    left:20%;
   
}

.trails p {
    font-size:1.3rem;
}

.trails div h2{
    font-size:2.3rem;
}


/* Contact CSS*************************************************************************************************************/

.flexBox1{
    margin-top:10%;
    display:flex;
    flex-direction: row;
}
.flexBox1 .infoBox{
    margin:auto;
}

.flexBox1 .infoBox p {
    margin:50px;
}

.flexBox2{
    display:flex;
    flex-direction: row;

}

.infoBox form{
    margin:40px;
    
}

.infoBox form div {
    width: 80%;
}


.flexBox2{
    margin-top:10%;
    display:flex;
    flex-direction: row;
}


.locationbox{
    margin:auto;
    display:flex;
    flex-direction: column;

}

.locationbox iframe{
    width: 700px;
    height: 500px;
}

.locationbox p{
    margin-top:10%;

}
