@media screen and (max-width: 769px){

/*header CSS ************************************************************************************************************************************/


#logo {
    left: 20%;
}

#rentcontainer{
    left: 80%;
   
}


#mainTitle{
    margin-left: 30%;
}



/* navigation css*******************************************************************************************************************************/
    .navigation li{
        display:none;
        margin-left:0%;
    } 
    .responsive li {
        display: block;
        
    }

    .navigation{
        flex-direction: column;
    }
   
    .navigation li:first-child {
        display: block;
        width:100%;
    }
/*Home Page CSS****************************************************************************************************************************************/
    #topjeeppic{
        margin-left:5%;
        margin-right:15%;
        margin-bottom:5%;
        width:300px;
        height: 500px;
    }

.mods{
    flex-direction: column;
    margin-top: 10%;
}

#jeep{
    width:450px;
    height: 300px;
    margin:auto;
}

#ATV{
    width:300px;
    margin:auto;
}

#scooter{
    width:450px;
    height: 300px;
    margin-left: 100px;
}

.infoBox li{
    font-size: 20px;
    
}

.infoBox h2 {
    
    font-size: 30px;
    
}

.infoBox{
    margin:auto;
    width:350px;
}


#map{

    margin-left:10%;
}
/* Tours Page CSS*************************************************************************************************************/

.location p {
    top:10%;
    left:10%;
}

.location{
    flex-direction: column;
}



#tourmap2{
    bottom:0px;
    left:10%;
    margin-top: 10%;
    margin-bottom: 30%;
}

#tourmap3{
    bottom:0px;
    left:10%;
    margin-top: 10%;
    margin-bottom: 30%;
}

.trails{
    left:10%;
}

.trails div img{
    width:500px;
    height: 300px;
}

#playaChenRioimg{
    width:400px;
    height: 500px;
}

#sangavasioimg{
    width:500px;
    height: 400px;
    
}

#puntaimg{
    width:400px;
    height: 500px;
}

/* Rental CSS**********************************************************************************************************************************/


.vehicleContainer{
    margin-left: 15%;
    margin-top: 600px;
    
}

aside{
    left:10%;
    width: 80%;
}


td{
    font-size: 15px;
}
/*Resevations CSS*******************************************************************************************************************************/


form div{
    width: 350px; 
}

#reserve{
    margin-left:35%;
}

/* Contact CSS*************************************************************************************************************/


.flexBox1{
    flex-direction: column;
}

.flexBox2{
    flex-direction: column;
}

.infoBox form{
    margin-top:40px;
    
}

#infoBoxForm{
    margin-top:50px;
}














}