@media screen and (max-width: 375px){



/*header CSS ************************************************************************************************************************************/

#titleLine {
    display: flex;
    flex-direction: column;
 
}


#logo {
    left: 5%;
}

#rentcontainer{
    left: 70%;
    bottom: 200px;
   
}


#mainTitle{
    margin-left: 10%;
    margin-top:10% ;
}

#slogan{
    margin-left: 10%;
    bottom:30px;
}




/*Home Page CSS****************************************************************************************************************************************/
.wheatherMod{
        flex-direction: column;
    
    }
.wheatherBubbles{
    margin: auto;
}

.mods{
flex-direction: column;
margin-top: 10%;
}

#jeep{
width:300px;
height: 200px;
margin:auto;
}

#ATV{
width:300px;
margin:auto;
}

#scooter{
    width:300px;
    height: 200px;
    margin:auto;
}

.infoBox li{
font-size: 16px;

}

.infoBox h2 {

font-size: 20px;

}

.infoBox{

width:95%;
}

#map{
    width: 100%;
    margin-left:0%;
}

.infoBox img{
    margin-left:12%;
    
}




/*footer CSS *************************************************************************************************************************************/


.SMicons:first-child{
    margin-left: 15%;
}


#botsec{
    margin-left:5%;
}


/* Rental CSS**********************************************************************************************************************************/

.vehicleContainer{
    margin-left: 0%;
    
}

td{
    font-size: 10px;
}

/*Resevations CSS*******************************************************************************************************************************/


form div{
    width: 200px; 
}




#reserve{
    margin-left:20%;
}





}