@media screen and (min-width: 376px){

header{
    flex-direction: row;
}


    h4{
        font-size:30px;
    }

    
   
    .wheatherSumBox{
        background-color: black;
        flex-direction: row;
        width: 70%;
        margin-left: 5%;
        position: relative;
        bottom: 180px;

        
    }

    
     #todaysstorms{
         margin: 15px;
     }

     .fivedayforecast{
        background-color: black;
        flex-direction:column; 
     }

     .weeklyforecast{
        width: 50%;
        font-size: 150%;
          }
    

     #article{
        background-color: black;
     }

     footer{
      background-color: rgba(29, 26, 26, 0.959);
      border: none;
     }
     #stormcloud{
        height:50%;
        width: 90%;
        margin-left: 5%;
     }

     .SMicons{
        width: 100px;
        height: 100px;
        margin: 20px;
}

   #stormicon{
   visibility: visible;
   }

   #thankyou{
      font-size: 200%;
  }
  input{
   font-size: 20px;
}
label{
   font-size: 20px;
}

.container{
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr 1fr;


}




/*Home page CSS ****************************************/
.town {
      grid-template-columns: 1fr ; 
      margin-bottom: 20%;
      }
.town section h2 {
         right:0%;
         left:40%;
         width:200px;
         padding:1%;
         text-align: center;
      }
      .town section:nth-child(even) h2
      {
         left:15%;
         z-index: 1;
      }

      .town section:nth-child(even) p{
         left: 0%;
         right:50%;
      }

      .town section:nth-child(even) img{
         position: relative;
         left:37%;
      }


      .town section p{
         position: relative;
         width:250px;
         left: 50%;
         bottom: 30%;
         font-size: 100%;
         padding:1%;
      }

/* article css***/

.spotlight img{
   height: 150px;
   width:500px;
   margin-left: 0%;
   
}

/* Town page event css******************************/

.event section img {
   margin-left: 10%;
   height: 337.5px;
   width: 490.5px;

}

.event section h2, .event section p  {
   margin-left: 10%;
  

}



}