

/* and unorganized mess of css **************************/


body{
    background-color: rgb(99, 110, 128);
    font-family: 'Secular One', sans-serif;
    color: blanchedalmond;
    }

header {
    background-color: rgba(29, 26, 26, 0.959);
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;; 
    flex-direction: column; 
    }

h4{
    margin: 0px;
    font-size:15px;
    }       

    
p{
font-size:15px;
    }

Footer{
    border-style:solid;
    border-color: black;
    border-width: 5px;
    background-color: dimgray; 
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 200px;  
    }

#footerright{
    grid-row-start: 1;
}

#footerright{
    grid-row-start: 2;
}

      .wheatherSumBox{
          background-color: dimgray;
          border-style:solid;
          border-color: black;
          border-width: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          margin-left: 10px;
          height: 10%;
          position: relative;
          bottom: 130px;
      }
.wheatherData{
    display:flex;
    flex-direction: column;
    margin: 0%;

    }
div div p{
margin:0px;
}

      
      #stormicon{
          width: 50px;
          height: 50px;
          display: none;
      }

.fivedayforecast{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;  
    

    
}

.weeklyforecast{
    background-color: rgb(156, 156, 156);
    height: 5%px;
    margin-top: 50px;
    margin-left: 20%;
    display:flex;
    flex-direction: row;
    width: 70%;
    font-size: 200%;
      }
div div p {
    margin-right: 10%;
}

#article{
    background-color: dimgray;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin-top: 30px;
}

#logo{
    height:100px;
    width:178px;
}
#mainTitle{
  font-size: 40px;
}

#cityName{
    font-size: 30px;
}
.SMicons{
    width: 50px;
    height: 50px;
    margin: 20px;
    
}

#radarmap{
    width: 90%;
    height: 100%;
}


#stormclouds{
    height: 50%;
    width: 80%;
    margin-left: 10%;
    
}
 


nav{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
}

   


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(29, 26, 26, 0.959);
    
}
      
      
li a {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      }
li a:hover {
        background-color: rgb(94, 94, 94);
      }



.navigation li{
    display:none;
} 
.responsive li {
    display: block;
}

.navigation li:first-child {
    display: block;
}


.currentpage{
    background-color: rgb(94, 94, 94);
}

main {
    width:90%;
}


form{
    background-color: dimgray;
    width: 90%;
    border-style:solid;
    border-color: black;
    border-width: 5px;
    margin: 8%;
    box-shadow: 10px 10px 10px 0 black;

}
input{
    padding: .2rem;
    margin: 1.5em;
}

label{
    padding: 1rem;
}

input:invalid{
    background-color: salmon;
}



#title{
    margin-left: 10%;
}

textarea{
    width:60%;
    margin-left: 10%;
    height: 100px;
}

#thankyou{
    font-size: 100%;
    margin:15%;
    margin-bottom: 50%;
}

#rangeLbl{
    margin-left: 20px;
}

#stormnum{
    width: 50%;
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    
   
}

.galitem{
    width: 300px;
    height: 400px;
    filter: blur(0em);
    transition: filter 2s;
    
   
}

img[data-src] {
    filter: blur(0.2em);
  }

  .galitemp{
    margin-bottom: 10%;
    width: 300px;
  }
  
  .galitem:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  /*Home page CSS ****************************************/
  /*town blocks*/
  .town {
        display: grid;
        grid-template-columns: 1fr;
        gap:5%;
        margin-left: 5%;
        
       
        }
  
        .town section h2 {
            width:90%;
            background-color: black;
            position: relative;
            right:3%;
            top:10%;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .town section img {
            width: 350px;
            height: 200px;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
          ;
            
            
        }
        .town section p{
            background-color: black;
            margin:0%;
            box-shadow: 0 100x  10px black ;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
          ;

            
        }


/* this is the homepage article ****/
.spotlight{
    margin-top:200px                                           ;
}

.spotlight h2{
    background-color: black;

}

.spotlight p{
    background-color: black;

}
.spotlight img{
    height: 200px;
    width:350px;
}

/* Town page even css******************************/

.event section img {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 0%;
    position: relative;
    top: 23px;
    margin-left:

}

.event section h2, .event section p{
    background-color: black;
    margin-bottom: 0%;
    padding: 5%;
    font-size: 110%;
    margin-top:0%;
    margin-bottom:0%;
}
}
